html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Cards de Clash */
.card-carta {
    transition: transform 0.2s, box-shadow 0.2s;
}

    .card-carta:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    /* Bordes según rareza */
    .card-carta.comun {
        border-top: 3px solid #6c757d; /* gris */
    }

    .card-carta.especial {
        border-top: 3px solid #0d6efd; /* azul intenso */
    }
